<div style="margin-top: 80px;">
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6">
                    <img class="card-img-top mb-5 mb-md-0" [src]=product.image  alt="..." />
                </div>
                <div class="col-md-6">
                    <div class="small mb-1">Id: {{product._id}}</div>
                    <h1 class="display-5 fw-bolder">{{product.title}}</h1>
                    <div class="fs-5 mb-5">
                        <!-- <span class="text-decoration-line-through">$45.00</span> -->
                        <span>${{product.price}}</span>
                    </div>
                    <p class="lead">{{product.description}}</p>
                    <div class="d-flex">
                        <!-- <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" /> -->
                        <button (click)="addToCart(product)" class="btn btn-outline-success flex-shrink-0 me-3" type="button">
                            <i class="fas fa-shopping-cart me-1"></i>
                            <!-- Add to cart -->
                        </button>
                        <button (click)="addToWishlist()" class="btn btn-outline-danger flex-shrink-0" type="button">
                            <i class="fa-solid fa-heart me-1"></i>
                            <!-- Add to wishlist -->
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
