        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light top-0 position-fixed w-100">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" routerLink="/">                            
                    <i class="fa-brands fa-shopify fa-1x me-2 " style="color: #f91537;"></i> 
                    VogueVentur
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">All Products</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                                <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                            </ul>
                        </li>
                    </ul>
                   
                    <form class="d-flex input-group w-auto align-items-center">
                        <input  (keyup)="search($event)"
                          type="search"
                          class="form-control rounded"
                          placeholder="Search"
                          aria-label="Search"
                          aria-describedby="search-addon"
                        />
                        <span class="input-group-text border-0" id="search-addon">
                          <i class="fas fa-search"></i>
                        </span>
                        <i routerLink="user/cart" class="fas fa-shopping-cart me-3"></i>
                        <i routerLink="user/wishlist" class="fa-solid fa-heart me-3" style="color: #fd0808;"></i> 
                        <i routerLink="user/login" class="fa-solid fa-user me-3"></i>
   


                      </form>
                </div>
            </div>
        </nav>