    <!-- carousel -->
    <!-- <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" >
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="d-flex h-100 align-items-center justify-content-center">
              <img src="https://via.placeholder.com/800x400" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-flex h-100 align-items-center justify-content-center">
              <img src="https://via.placeholder.com/800x400" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-flex h-100 align-items-center justify-content-center">
              <img src="https://via.placeholder.com/800x400" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div> -->
      <!-- Header-->
      <header class="bg-light py-5">
        <div class="container px-5">
            <div class="row gx-5 align-items-center justify-content-center">
                <div class="col-lg-8 col-xl-7 col-xxl-6">
                    <div class="my-5 text-center text-xl-start">
                        <h1 class="display-5 fw-bolder text-dark mb-2">Embrace Your Uniqueness in Every Click.</h1>
                        <p class="lead fw-normal text-dark-50 mb-4">Elevate Your Style with Our Chic Collection. Shop Now & Discover Your Fashion Story!</p>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                            <a class="btn btn-primary btn-lg px-4 me-sm-3" routerLink="user/login">Shop Now</a>
                            <a class="btn btn-outline-dark btn-lg px-4" href="#multi-item-carousel">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="https://wp.missmalini.com/wp-content/uploads/2021/02/Shop-Smartly.jpg" alt="..." /></div>
            </div>
        </div>
    </header>
    <!-- Multi item carousel -->
    <div id="multi-item-carousel" class="carousel slide " data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-3 mt-3">
                        <img src="https://assets.ajio.com/medias/sys_master/root/20240221/9iAk/65d4ffcf05ac7d77bb6afcc3/-473Wx593H-467093242-green-MODEL.jpg" class="d-block w-100 rounded-3" alt="...">
                    </div>
                    
                    <div class="col-3 mt-3">
                        <img src="https://assets.ajio.com/medias/sys_master/root/20240226/v9yx/65dcbc4205ac7d77bb7bbac7/-473Wx593H-467109162-green-MODEL.jpg" class="d-block w-100 rounded-3" alt="...">
                    </div>
                    <div class="col-3 mt-3">
                        <img src="https://assets.ajio.com/medias/sys_master/root/20231223/hag8/6585e3f5afa4cf41f5e46f6e/-473Wx593H-466907432-multi-MODEL.jpg" class="d-block w-100 rounded-3" alt="...">
                    </div>
                    <div class="col-3 mt-3">
                        <img src="https://assets.ajio.com/medias/sys_master/root/20240209/la4z/65c537f916fd2c6e6ae904b2/-473Wx593H-467055535-teal-MODEL3.jpg" class="d-block w-100 rounded-3" alt="...">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-3 mt-3">
                        <img src="https://assets.ajio.com/medias/sys_master/root/20240116/FdQo/65a6aed98cdf1e0df5ba590f/-473Wx593H-466985937-yellow-MODEL5.jpg" class="d-block w-100 rounded-3" alt="...">
                    </div>
                    <div class="col-3 mt-3">
                        <img src="https://assets.ajio.com/medias/sys_master/root/20231228/B1hf/658d77b3ddf7791519f25d3b/-473Wx593H-466925585-purple-MODEL2.jpg" class="d-block w-100 rounded-3" alt="...">
                    </div>
                    <div class="col-3 mt-3">
                        <img src="https://assets.ajio.com/medias/sys_master/root/20240221/fQWl/65d5fcaf16fd2c6e6a0ee6b1/-473Wx593H-467094177-mauve-MODEL3.jpg" class="d-block w-100 rounded-3" alt="...">
                    </div>
                    <div class="col-3 mt-3">
                        <img src="https://assets.ajio.com/medias/sys_master/root/20240221/dwK5/65d5fb1205ac7d77bb6c5518/-473Wx593H-467093768-white-MODEL.jpg" class="d-block w-100 rounded-3" alt="...">
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#multi-item-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#multi-item-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
<!-- banner -->
    <header class="bg-dark py-5 background-attachment:fixed m-5 rounded-5" style="background: url(https://img.freepik.com/free-photo/excited-girl-open-up-shopping-bags-gasping-amazed-checking-out-gifts-her-with-happy-face-sta_1258-119591.jpg?t=st=1711432907~exp=1711436507~hmac=5c55eac465db131a5e9bf78d73195f34a4b3390a1cb01e3d8b9b8a09eea7b03a&w=1380);">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Shop in style</h1>
                <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
            </div>
        </div>
    </header>